      body{
        display: flex;
        justify-content: center;
      }
      .maindiv {
        width: 54%;
      }
      .schoolname {
        /* width: 50%; */
        height: 70px;
        /* text-align: center; */
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: larger;
        font-weight: bold;
      }
      .headingdiv {
        display: flex;
      }
      .headblock {
        width: 100%;
        height: 20px;
        display: flex;
        justify-content: center;
      }
      .fullcolumndiv {
        display: flex;
      }
      .subcolumn {
        text-align: center;
      }
      .basicblock {
        width: 135.2px;
        height: 80px;
        /* text-align: center; */
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .border {
        border: 1px solid;
      }
      .principal {
        height: 70px;
        text-align: end;
        font-size: x-large;
        padding-right: 10px;
      }
      /* ul {
            list-style-type: none;
            margin: 0px;
            padding: 0px;
            display: flex;
        } */